.hero {
  height: 350px;
  margin: 20px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  background: url('https://images.unsplash.com/photo-1542751371-adc38448a05e?w=1200&h=400&fit=crop')
    center/cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.hero-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 10;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: bold;
}

.hero p {
  color: #d1d5db;
  font-size: 16px;
}